.add__container {
  display: flex;
  flex-direction: column;
  width: 470px;
}

.add__title {
  display: flex;
  font-family: "Inter", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 36px;
  padding-left: 36px;
  max-width: 330px;
  margin: 0;
}

.add__form {
  width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  background-color: #fff;
}

@media screen and (max-width: 632px) {
  .add {
    max-width: 633px;
  }

  .add__container {
    width: 282px;
  }

  .add__close {
    margin-bottom: 13.5px;
    width: 26px;
    height: 26px;
  }

  .add__form {
    width: 100%;
    /*max-height: 322px;*/
  }

  .add__title {
    font-size: 18px;
    line-height: 22px;
    padding-left: 22px;
    padding-top: 25px;
    margin: 0 auto;
  }
}
