.image {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

/*.popup_enabled{
  opacity: 1;
 visibility: visible;
 transition: visibility 0.5s linear, opacity 0.5s linear;
}*/

.image__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
}

.image__close {
  display: flex;
  margin-bottom: 3px;
  justify-content: flex-end;
  align-self: flex-end;
  background: url(../images/Close_Icon.svg) no-repeat center;
  background-color: rgb(0, 0, 0, 0);
  transition: visibility 0.5s linear, opacity 0.5s linear;
  max-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  z-index: 5;
  padding: 0;
}

.image__file {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.image__close:hover {
  opacity: 0.6;
}

.image__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
}

@media screen and (max-width: 632px) {
  .image {
    max-width: 633px;
  }

  .image__container {
    width: 282px;
  }

  .image__close {
    margin-bottom: 13.5px;
    width: 26px;
    height: 26px;
  }

  .image__title {
    font-size: 18px;
    line-height: 22px;
    padding-left: 22px;
    padding-top: 25px;
    margin: 0 auto;
  }
}
